.formDiv{
    padding: 0 30px;
}

form#login{
    width: 100%;
    max-width: 850px;
    margin: 30px auto 0;
    padding: 30px;
    background-color: #fff;
    display: flex;
    box-shadow: #00000082 10px 10px 17px;
    flex-direction: column;
    margin-top:30px;
}

form#login input{
    margin-bottom:  15px;
    height:40px;
    border-radius: 4px;
    border: 1px solid #b2b2b2;
    padding: 0 20px;
    font-size: 14px;
}

form#login button{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #272727;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

form#login a{
    text-align: center;
    text-decoration: none;
    color: #272727;
    font-size: 15px;
    margin-top: 10px;
}
form#login a:hover{
    text-shadow: #0a0000 1px 1px 15px;
}