div#bodyPost{
  width: 100%;
  max-width: 850px;
  margin: 30px auto 0;
}
header#new a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: 1s;
}
header#new a:hover{
  transition: 1s;
  background-color: #dfdfdf;
  color: rgb(61, 61, 61);
}
form#post{
  background-color: #fff;
  display: flex;
  box-shadow: #00000082 10px 10px 17px;
  flex-direction: column;
  margin-top:30px;
  padding: 30px
}
form#post input{
  margin-bottom:  15px;
  height:40px;
  border-radius: 4px;
  border: 1px solid #b2b2b2;
  padding: 0 20px;
  font-size: 14px;
}
form#post textarea{
  margin-bottom: 15px;
  width: 100%;
  max-width: 850px;
  border: 1px solid #b2b2b2;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 4px;
  height: 92px;
}

form#post button{
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #272727;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

